.container {
  background: url(../../Assets/Images/scoresSectionAdBackground.svg);
  position: relative;
  height: 150px;
  width: 100%;
}

.container > img:nth-child(1) {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
}

.textSection {
  position: absolute;
  left: 25px;
  bottom: 20px;
  top: 20px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.textSection > p {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}

.textSection > p > span {
  font-weight: 900;
  line-height: 45px;
  font-size: 40px;
  display: block;
  margin: 0;
}

.textSection > div:nth-child(2) {
  display: flex;
  align-items: center;
  gap: 10px;
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.textSection > div:nth-child(2):hover {
  color: var(--fontWhite);
}

@media screen and (min-width: 767px) and (max-width: 1023px) {
  .container {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .container {
    display: none;
  }
}
