.header {
  height: 10vh;
  position: sticky;
  top: 0vh;
  z-index: 20;
  background: var(--foregroundBlack);
}

.body {
  display: flex;
  align-items: flex-start;
}

.body > div {
  border: 2px solid green;
  height: 100%;
  min-height: 90vh;
  overflow-y: auto;
}

.leftSection {
  width: 400px;
}

.middleSection {
  width: 100%;
}

.rightSection {
  width: 400px;
  margin-left: auto;
}

@media screen and (max-width: 767px) {
  .rightSection,
  .leftSection {
    display: none;
  }
}

@media screen and (min-width: 767px) and (max-width: 1023px) {
  .rightSection,
  .leftSection {
    display: none;
  }
}
