.container {
  display: flex;
  align-items: stretch;
}

.container > div {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  cursor: pointer;
}

.container > div:nth-child(1) {
  background: #ef2339;
  width: 50%;
}

.container > div:nth-child(2) {
  width: 50%;
}

.container > div > span:nth-child(1) {
  font-weight: 800;
  font-size: 10px;
  line-height: 15px;
  color: rgba(255, 255, 255, 0.5);
  display: block;
}

.container > div > span:nth-child(2) {
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  display: block;
}
